
@font-face {
  /* font-family: 'MapoFlowerIsland'; */
  /* src: url('./fonts/MapoFlowerIsland.ttf'); */
  /* src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff'); */
  font-family: 'HeirofLightReqular';
  src: url('./fonts/HeirofLightRegular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /* font-family: 'MapoFlowerIsland'; */
  /* src: url('./fonts/MapoFlowerIsland.ttf'); */
  /* src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff'); */
  font-family: 'HeirofLightOTFReqular';
  src: url('./fonts/HeirofLightOTFRegular.otf');
  font-weight: normal;
  font-style: normal;
}

body {
  min-width: 100vw;
  /* overflow-x: scroll; */
}

.font-style {
  /* font-family: 'MapoFlowerIsland', sans-serif; */
  font-family: 'HeirofLightRegular', 'HeirofLightOTFReqular', sans-serif;
  color: #333;
  /* min-height: 100vh; */
  position: relative;
  padding-bottom: 130px;
  /* width: max-content; */
  min-width: 1500px;
  /* background-color: aqua; */
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
